body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.container {
  background-color: rgba(101, 59, 201, 0.9);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  width: 800px;
  height: 600px;
}

.sign {
  margin: 0;
  color: rgba(101, 59, 201, 0.9);
  font-weight: bold;
  font-size: 25px;
}

.number {
  width: 80%;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 15px 5px;
  border: 2px solid rgba(101, 59, 201, 0.9);
  text-align: center;
}

.words {
  width: 80%;
  height: 100px;
  font-weight: 600;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  padding: 15px 5px;
  border: 2px solid rgba(101, 59, 201, 0.9);
  text-align: center;
  resize: none;
}

.number:focus {
  border: 2px solid rgba(0, 0, 0, 0.18);
}

.submit {
  width: 50%;
  color: white;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(101, 59, 201, 0.9);
  padding: 10px 20px;
  border: none;
  outline: none;
  box-sizing: border-box;
  border: 2px solid black;
  text-align: center;
  color: 1f271b;
  background: 8f7d2d;
  padding: 10px 40px 10px 40px;
  font-size: 14px;
  border: 0;
  cursor: pointer;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(101, 59, 201, 0.9);
  opacity: 1; /* Firefox */
}
